li {
  font-weight: bold;
  font-size: 24pt;
  line-height: 1.6;
  margin-top: 24pt;
  text-indent: -2.3em !important;
}
li:before {
  content: '▪ ' !important;
  padding-right: .1em !important;
}

li li {
  font-weight: normal;
  font-size: 20pt;
  margin-top: 10pt;
}



a.image {
  background: transparent;
}



table img {
  max-height: 250px;
}

th, td {
  padding: 0 1em 0 0;
}

tr th:first-child {
  text-align: right;
}

table.seamless tr > * {
  background: transparent !important;
}



.toc h2 {
  font-size: 28pt;
  font-style: italic;
  line-height: 1.6;
  margin: 80px 0 0 60px;
}

.toc li {
  margin-left: 80px;
  font-weight: normal;
}
.toc li.current {
  font-weight: bold;
}
.toc li:before {
  content: '' !important;
}

.toc a:not(:hover) {
  background: none;
}
